@page "/Employees"
@using EmployeeWebServer.Data
@inject EmployeeService employeesService

<style>
    .ring {
        margin-top: 20%;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 200px;
        height: 200px;
        background: transparent;
        border-radius: 50%;
        text-align: center;
        line-height: 2000px;
        font-family: sans-serif;
        font-size: 20px;
        color: #008000;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-shadow: 0 0 10px #008000;
        box-shadow: 0 0 20px #008000);
    }

        .ring:before {
            content: '';
            position: absolute;
            top: -3px;
            left: -3px;
            width: 100%;
            height: 100%;
            border: 3px solid transparent;
            border-top: 3px solid #008000;
            border-right: 3px solid #008000;
            border-radius: 50%;
            animation: animateC 2s linear infinite;
        }

    .loading {
        display: block;
        position: absolute;
        top: calc(50% - 2px);
        left: 50%;
        width: 50%;
        height: 4px;
        background: transparent;
        transform-origin: left;
        animation: animate 2s linear infinite;
    }

        .loading:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #008000;
            top: -6px;
            right: -8px;
            box-shadow: 0 0 20px #008000;
        }

    @@keyframes animateC {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@keyframes animate {
        0% {
            transform: rotate(45deg);
        }

        100% {
            transform: rotate(405deg);
        }
    }

    .header {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .header-add-btn {
        margin-top: 10px;
    }

    .h3 {
        font-size: 20px;
    }

    .add-btn {
        font-size: 14px;
        padding: 8px 18px;
        border-color: #1a75ff;
        border: solid;
        border-width: 1px;
        border-radius: 5px;
        background-color: white;
        color: #1a75ff;
        transition-duration: 0.2s;
        cursor: pointer;
    }

        .add-btn:hover {
            background-color: #1a75ff;
            color: white;
        }

    .table-header {
        text-align: center;
        color: white;
        background-color: #008000;
    }

    .edit-btn {
        background-color: #005ce6;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
    }

        .edit-btn:hover {
            background-color: #0066ff;
            color: white;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 3px 7px 0 rgba(0,0,0,0.19);
        }
    .delete-btn {
        background-color: #ff0000;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin-left: 8px;
    }

        .delete-btn:hover {
            background-color: #ff1a1a;
            color: white;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 3px 7px 0 rgba(0,0,0,0.19);
        }

    .action-btn {
        display: flex;
        justify-content: center;
    }
    .home-btn{
        background-color: lightgray;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin-left: 8px;
    }

    .home-btn:hover {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24),0 3px 7px 0 rgba(0,0,0,0.19);
    }
    .hedaer-btn{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
    }
    .title-emplist{
        margi
    }


</style> 

<div class="header">
    <div>
        <h3 class="title-emplist">List of Employee</h3>
    </div>
    <div>
        <a class="home-btn" href="/">
            <span class="fa-solid fa-user-plus" style="color: #404040;" aria-hidden="true"> </span>
        </a>
        <a class="home-btn" href="/">
            <span class="fa-solid fa-house" style="color: #404040;" aria-hidden="true"> </span>
        </a>
     
    </div>
</div>

    
@if (EmpObj is null)
{
    <div class="ring">
        Loading
        <span class="loading"></span>
    </div>
}
else
{
    <div class="table-dark">
        <table class="table table-bordered table-striped mb-0">
            <thead class="table-header">
                <tr>
                    <th>Employee No</th>
                    <th>Employee Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Designation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in EmpObj)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.FullName</td>
                        <td>@emp.Address</td>
                        <td>@emp.Email</td>
                        <td>@emp.PhoneNumber</td>
                        <td>@emp.Designation</td>
                        <td class="action-btn">
                            <a class="edit-btn" href="EditEmployee/@emp.Id">
                                <span class="fa-solid fa-pen-to-square" aria-hidden="true"></span>
                            </a>
                            <a class="delete-btn" href="DeleteEmployee/@emp.Id">
                                <span class="fa-solid fa-trash-can" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



@code {
    List<Employee> EmpObj;

    protected override async Task OnInitializedAsync()
    {
        EmpObj = await Task.Run(() => employeesService.GetAllEmployees());
    }
}
